h1,
h2,
h3,
p {
  font-family: "HelveticaNeue-light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

p {
  font-size: 20px;
}

.justripe-blue {
  color: #221c35;
}

.justripe-blue-bg {
  background-color: #221c35;
}
.stripe-avatar {
  border-radius: 50%;
  height: 56px;
  width: 56px;
  cursor: pointer;
}
