@import url("https://unpkg.com/renecss/dist/rene.min.css");

.product {
    background: no-repeat center/cover;
}
.mix-diff {
    mix-blend-mode: difference;
    color: white;
}
.sidebar {
    display: block;
    position: absolute;
    right: 0;
    padding: 40px;
    height: 100%;
    flex-direction: column;
    overflow: auto;
    max-height: 100vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: rgb(0, 121, 78);
    color: #fff;
    &::-webkit-scrollbar {
        display: none;
    }
}

.sidebar a {
    display: block;
    margin-bottom: 8px;
}

.sidebar-project-image {
    display: none;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: ease;
    width: 100%;
}

.sidebar-project-link {
    transition-property: color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease;
}

.hero-section {
    height: 100vh;
}

.show-project {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../work/utila/0.png");
}

.buy-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    cursor: pointer;
}
.random-color-change {
    -webkit-animation: random-color-change 10s linear infinite alternate both;
    animation: random-color-change 10s linear infinite alternate both;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100%;
    position: absolute;
    z-index: 2;
}

.circle * {
    margin: 0px;
}

.circle:hover span {
    text-decoration: none;
    /* to override renecss */
}

.circle-brandsprint {
    width: 220px;
    height: 220px;
    color: white;
    background: #000000;
    z-index: 2;
    right: 50%;
    top: 30%;
}

    .hide-on-desktop {
        display: none;
    }

@keyframes random-color-change {
    0% {
        background: #fd3c2d;
    }

    33% {
        background: #014add;
    }

    66% {
        background: #ffbfe1;
    }

    100% {
        background: #fdc800;
    }
}

/* Added media query for mobile devices */
@media only screen and (max-width: 768px) {
    #navigation {
        position: absolute;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        margin-bottom: 8px;
        text-align: center;
    }

    .hide-on-desktop {
        display: block;
    }

    #navigation {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
        width: 100%;
        height: 100%;
        align-content: center;
    }
}
