@import url("https://unpkg.com/@rnbws/renecss@0.0.2/dist/rene.min.css");

@font-face {
  font-family: 'VcNudge';
  src: url('../fonts/VCNudgeBoldItalicTrial.otf');
}

.nudge_font {
  font-family: 'VcNudge';
  font-size: 17.35vw;
  line-height: 89%;
}

.tickerimages {
  position: relative;
  width: 100%;
  overflow: hidden;
  flex-wrap: nowrap;
}

.under-logo-footer{
  width: 140px; 
  height: 140px;
}

.legal-menu{
  margin-top: 6rem;
}

.legal-text{
  margin-top: 5rem;
}

.view1 {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.transparent-text {
  color: transparent !important;
  -webkit-text-stroke: 1px black;
}


@keyframes tickerblockimages {
  0% {
    right: -500vw;
    opacity: 1;
  }

  50% {
    right: 0vw;
    opacity: 1;
  }

  100% {
    right: -500vw;
    opacity: 1;
  }
}

.tickerblockimages {
  position: absolute;
  right: -500vw;
  animation: tickerblockimages 340s linear infinite;
  flex-wrap: nowrap;
  width: 600vw;
}

.tickertext {
  position: relative;
  width: 2000vw;
  overflow: hidden;
  flex-wrap: nowrap;
}

@keyframes tickerblock {
  0% {
    left: -1900vw;
  }

  50% {
    left: 20vw;
  }

  100% {
    left: -1900vw;
  }
}

.tickerblock {
  position: absolute;
  left: -1900vw;
  animation: tickerblock 1020s linear infinite;
}

.tickerblock:hover,
.tickerblockimages:hover {
  animation-play-state: paused;
}

.product {
  background: no-repeat center/cover;
  position: relative;
}

.product-text {
  position: absolute;
  left: 0;
  bottom: 0;
}

.mix-diff {
  mix-blend-mode: difference;
  color: white;
}

.sidebar {
  display: block;
  position: absolute;
  right: 0;
  padding: 40px;
  height: 100%;
  flex-direction: column;
  overflow: auto;
  max-height: 100vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: rgb(0, 121, 78);
  color: #fff;

  &::-webkit-scrollbar {
    display: none;
  }
}

.sidebar a {
  display: block;
  margin-bottom: 8px;
}

.sidebar-project-image {
  display: none;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease;
  width: 100%;
}

.sidebar-project-link {
  transition-property: color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.hero-section {
  height: 100vh;
}

.show-project {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../work/utila/0.png");
}

.buy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  cursor: pointer;
}

.desktop-logo-navigation {
  display: block;
}

.mobile-logo-navigation {
  display: none;
}

.random-color-change {
  -webkit-animation: random-color-change 10s linear infinite alternate both;
  animation: random-color-change 10s linear infinite alternate both;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  z-index: 2;
  height: 170px;
  width: 170px;
}

.circle * {
  margin: 0px;
}

.circle:hover span {
  text-decoration: none;
  /* to override renecss */
}

.circle-brandsprint {
  width: 220px;
  height: 220px;
  color: white;
  background: #000000;
  z-index: 2;
  right: 50%;
  top: 30%;
}

.hide-on-desktop {
  display: none;
}

@keyframes random-color-change {
  0% {
    background-color: #EC5A29;
  }

  20% {
    background-color: #F5CA44;
  }

  40% {
    background-color: #F5C2DF;
  }

  60% {
    background-color: #7B5BF2;
  }

  80% {
    background-color: #014add;
  }

  100% {
    background-color: #3F8E45;
  }
}

@media only screen and (max-width: 768px) {
  #navigation {
    position: absolute;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    margin-bottom: 8px;
    text-align: center;
  }

  .hide-on-desktop {
    display: block;
  }

  #navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    align-content: center;
  }
}

/* colors */

.yellow_background {
  background-color: #FDC800;
}

.white_background {
  background-color: #FFFFFF;
}

.green_background {
  background-color: #02903B;
}

.blue_background {
  background-color: #014ADD;
}

.purple_background {
  background-color: #8159FB;
}

.orange_background {
  background-color: #FF4B00;
}

.pink_background {
  background-color: #FFBFE1;
}

.black_background {
  background-color: #000000;
}

.white {
  color: #fff;
}

.white_header_animation {
  color: white;
  position: absolute;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.black_header_animation {
  position: absolute;
  top: calc(var(--size-base) * 20);
  left: calc(var(--size-base) * 20);
  z-index: 1;
  margin: 10px;
}

.slider {
  position: relative;
  width: 100%;
  height: 61.8vw;
  overflow: hidden;
}

.slides {
  width: 100%;
  height: 61.8vw;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;

}

.arrow {
  border: none;
  background: none;
  cursor: pointer;
  width: 1.75rem;
  height: 1.75rem;

}

.slidertext {
  position: absolute;
  bottom: 0px;
  left: 0%;
  white-space: nowrap;
  margin: 0.5rem, 0, 0.5rem, 0 !important;
  line-height: 1.35 !important;
}

.sliderbuttons {
  position: absolute;
  bottom: 0px;
  right: 0%;
}

.schedule-circle {
  border-radius: 100%;
  height: 15vw;
  width: 15vw;
  border: 1px solid black;
  margin-left: -6vw;
}

.schedule-color-circle {
  border-radius: 100%;
  height: 15vw;
  width: 15vw;
  margin-left: -6vw;
}

.schedule-white-circle {
  border-radius: 100%;
  height: 15vw;
  width: 15vw;
  margin-top: -5vw;
}

#accordion {
  transition: flex-grow 0.3s ease;
}

.nowarp-schedule {
  flex-wrap: nowrap;
}

.nowarp-schedule-div {
  flex-wrap: nowrap;
}

.line {
  border: 0.5px solid black;
  transform: rotate(13deg);
  margin-left: -4vw;
}

.line1 {
  display: block;
}

.accordion-header {
  transform: rotate(180deg);
}

@media (max-width: 992px) {

  .desktop-logo-navigation {
    display: none;
  }

  .mobile-logo-navigation {
    display: block;
  }

}



@media (max-width: 768px) {
  .nocolumn {
    flex-direction: row !important;
  }

  .nudge_font {
    font-size: 28vw;
  }

  .nowarp-schedule {
    flex-wrap: nowrap;
  }

  .nowarp-schedule-div {
    flex-wrap: nowrap;
  }

  .line {
    height: 100vw;
  }

  .line1,
  .line {
    display: none;
  }

  .schedule-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .date {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .schedule-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vw;
    width: 60vw;
    margin-left: 0;
  }

  .schedule-color-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vw;
    width: 60vw;
    margin-left: 0;
  }

  .accordion-header {
    transform: rotate(0deg);
    writing-mode: horizontal-tb;
  }

  .black-accordion {
    display: none;
  }

  .waitwhat {
    flex-wrap: wrap !important;
  }

  .waitwhat1 {
    flex-wrap: wrap !important;
  }

  @keyframes tickerblockimages {
    0% {
      right: -510vw;
      opacity: 1;
    }

    50% {
      right: 510vw;
      opacity: 1;
    }

    100% {
      right: -510vw;
      opacity: 1;
    }
  }

  .tickerblockimages {
    position: absolute;
    flex-direction: row;
    right: -510vw;
    animation: tickerblockimages 340s linear infinite;
    flex-wrap: nowrap;
    width: 600vw;
  }

  .tickertext {
    position: relative;
    flex-direction: row;
    width: 5000vw;
    overflow: hidden;
    flex-wrap: nowrap;
  }

  @keyframes tickerblock {
    0% {
      left: -4900vw;
    }

    50% {
      left: -20vw;
    }

    100% {
      left: -4900vw;
    }
  }

  .tickerblock {
    position: absolute;
    flex-direction: row;
    left: -4900vw;
    animation: tickerblock 1020s linear infinite;
  }

  .nostart {
    align-items: center;
  }

  .blue_background1 {
    flex-direction: column-reverse !important;
  }

  .display_none_pingpong {
    display: none;
  }

  .min_height_pingpong {
    min-height: 55vh !important;
  }
}

@media (min-width: 768px) and (max-width: 1366px) {
  .nudge_font {
    font-size: 25vw;
  }

  .team {
    flex-direction: row !important;
  }

  .line1 {
    display: none;
  }

  .nowarp-schedule {
    flex-wrap: wrap;
  }

  /* .accordion-main-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .accordion-div {
    display: flex;
    align-items: flex-start;
  }

  .accordion-text {
    width: 100%;
  } */

  @keyframes tickerblockimages {
    0% {
      right: -455vw;
      opacity: 1;
    }

    50% {
      right: 455vw;
      opacity: 1;
    }

    100% {
      right: -455vw;
      opacity: 1;
    }
  }

  .tickerblockimages {
    position: absolute;
    right: -455vw;
    animation: tickerblockimages 340s linear infinite;
    flex-wrap: nowrap;
    width: 550vw;
  }

  .tickertext {
    position: relative;
    width: 2000vw;
    overflow: hidden;
    flex-wrap: nowrap;
  }

  @keyframes tickerblock {
    0% {
      left: -1900vw;
    }

    50% {
      left: 10vw;
    }

    100% {
      left: -1900vw;
    }
  }

  .tickerblock {
    position: absolute;
    left: -1900vw;
    animation: tickerblock 1020s linear infinite;
  }

  .blue_background1 {
    flex-direction: column;
  }

  .waitwhat {
    flex-wrap: wrap !important;
  }

}