@import url("https://use.typekit.net/pzx5ijr.css");
@import url("https://unpkg.com/renecss/dist/rene.min.css");

.logo {
  position: fixed;
  z-index: 99;
  mix-blend-mode: difference;
}

body img {
  width: 100%;
}
body {
  font-family: "HelveticaNeue-light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1,
h2 {
  font-family: degular display;
  line-height: 110%;
}

.product {
  background: no-repeat center/cover;
}

.sidebar {
  position: fixed;
  right: 0px;
  top: 0px;
  padding: 40px;
  background-color: black;
  color: white;
  height: 100%;
  z-index: 19;
  display: none;
  flex-direction: column;
  overflow: auto;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: ease;
  gap: 8px;
}

.sidebar a {
  font-size: 36px;
}

.sidebar-project-image {
  display: none;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease;
  width: 100%;
}

.sidebar-project-link {
  transition-property: color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.hero-section {
  height: 100vh;
}

.show-project {
  background-repeat: no-repeat;
  background-size: cover;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  z-index: 2;
}

.circle * {
  margin: 0px;
}

.circle:hover span {
  text-decoration: none;
  /* to override renecss */
}

.circle-info {
  width: 190px;
  height: 190px;
  background-color: white;
  bottom: 18vw;
  left: 40px;
  z-index: 4;
}

.circle-brandsprint {
  width: 250px;
  height: 250px;
  background-color: #fd3c2d;
  color: white;
  bottom: 35vw;
  left: 25vw;
  z-index: 2;
}

.circle-dynamic {
  width: 240px;
  height: 240px;
  background-color: black;
  color: white;
  bottom: 22vw;
  right: 15vw;
  z-index: 1;
}

.circle-work {
  width: 200px;
  height: 200px;
  background-color: #ffbfe1;
  border-radius: 100%;
  top: 4vw;
  right: 4vw;
  z-index: 3;
}

.random-color-change {
  -webkit-animation: random-color-change 6s linear infinite alternate both;
  animation: random-color-change 6s linear infinite alternate both;
}

@keyframes random-color-change {
  0% {
    background: #8159fb;
  }

  25% {
    background: #ffbfe1;
  }

  50% {
    background: #fdc800;
  }

  100% {
    background: #fd3c2d;
  }
}

/* Added media query for mobile devices */
@media only screen and (max-width: 768px) {
  #navigation {
    position: absolute;
  }
}

@media (max-width: 768px) {
  #navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    align-content: center;
  }

  .circle {
    display: flex;
    width: 132px;
    height: 132px;
    font-size: 24px;
    line-height: 110%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100%;
    position: static;
    z-index: 2;
  }

  .sidebar {
    width: 100%;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 8px;
    text-align: center;
  }
}
