@import url("https://unpkg.com/renecss/dist/rene.min.css");

.logo {
  position: fixed;
  z-index: 99;
  mix-blend-mode: difference;
}

body img {
  width: 100%;
}

.product {
  background: no-repeat center/cover;
}

.sidebar {
  display: block;
  padding: 40px;
  background-color: black;
  color: white;
  height: 100%;
  z-index: 19;
  flex-direction: column;
  overflow: auto;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: ease;
  gap: 8px;
}

.sidebar a {
  font-size: 36px;
  display: block;
}

.sidebar-project-image {
  display: none;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease;
  width: 100%;
}

.sidebar-project-link {
  transition-property: color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.hero-section {
  height: 100vh;
}

.show-project {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../work/balance/0.png");
}

.buy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 124px;
  width: 124px;
  border-radius: 50%;
  cursor: pointer;
}
.random-color-change {
  -webkit-animation: random-color-change 10s linear infinite alternate both;
  animation: random-color-change 10s linear infinite alternate both;
}

@keyframes random-color-change {
  0% {
    background: #fd3c2d;
  }

  33% {
    background: #014add;
  }

  66% {
    background: #ffbfe1;
  }

  100% {
    background: #fdc800;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 8px;
    text-align: center;
  }
}
