@import url("https://unpkg.com/@rnbws/renecss@0.0.2/dist/rene.min.css");

@font-face {
  font-family: 'VcNudge';
  src: url('../fonts/VCNudge-BoldItalic-Trial.otf');
}

@font-face {
  font-family: 'HelveticaMedium';
  src: url('../fonts/VCNudge-BoldItalic-Trial.otf');
}

@font-face {
  font-family: 'HelveticaRegular';
  src: url('../fonts/VCNudge-BoldItalic-Trial.otf');
}

.nudge_font {
  font-family: 'VcNudge';
  font-size: 300px;
  line-height: 89%;
}

.helvetica_medium {
  font-family: 'HelveticaMedium';
  font-size: 150px;
  line-height: 92%;
}

.helvetica_medium_big {
  font-family: 'HelveticaMedium';
  font-size: 300px;
  line-height: 92%;
}

.helvetica_regular {
  font-family: 'HelveticaRegular';
  font-size: 150px;
  line-height: 92%;
}

.logo_images {
  display: inline-block;
  margin-top: 100px;
  height: 40px;
  width: auto;
  padding-right: 5vw;
}




@keyframes tickerblock1 {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-150%);
  }
}

.ticker1 {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.tickerblock1 {
  display: inline-block;
  animation: tickerblock1 15s linear infinite;
}

@keyframes tickerblock {
  from {
    transform: translateX(-115%);
  }

  to {
    transform: translateX(150%);
  }
}

.ticker {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.tickerblock {
  animation: tickerblock 15s linear infinite;
}






.product {
  background: no-repeat center/cover;
}

.mix-diff {
  mix-blend-mode: difference;
  color: white;
}

.sidebar {
  display: block;
  position: absolute;
  right: 0;
  padding: 40px;
  height: 100%;
  flex-direction: column;
  overflow: auto;
  max-height: 100vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: rgb(0, 121, 78);
  color: #fff;

  &::-webkit-scrollbar {
    display: none;
  }
}

.sidebar a {
  display: block;
  margin-bottom: 8px;
}

.sidebar-project-image {
  display: none;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease;
  width: 100%;
}

.sidebar-project-link {
  transition-property: color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.hero-section {
  height: 100vh;
}

.show-project {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../work/utila/0.png");
}

.buy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  cursor: pointer;
}

.random-color-change {
  -webkit-animation: random-color-change 10s linear infinite alternate both;
  animation: random-color-change 10s linear infinite alternate both;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  z-index: 2;
}

.circle * {
  margin: 0px;
}

.circle:hover span {
  text-decoration: none;
  /* to override renecss */
}

.circle-brandsprint {
  width: 220px;
  height: 220px;
  color: white;
  background: #000000;
  z-index: 2;
  right: 50%;
  top: 30%;
}

.hide-on-desktop {
  display: none;
}

@keyframes random-color-change {
  0% {
    background: #014add;
  }

  50% {
    background: #fd3c2d;
  }

  100% {
    background: #fdc800;
  }
}

/* Added media query for mobile devices */
@media only screen and (max-width: 768px) {
  #navigation {
    position: absolute;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    margin-bottom: 8px;
    text-align: center;
  }

  .hide-on-desktop {
    display: block;
  }

  #navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    align-content: center;
  }
}

/* colors */

.yellow_background {
  background-color: #FDC800;
}

.green_background {
  background-color: #02903B;
}

.blue_background {
  background-color: #014ADD;
}

.purple_background {
  background-color: #8159FB;
}

.orange_background {
  background-color: #FF4B00;
}

.pink_background {
  background-color: #FFBFE1;
}

.black_background {
  background-color: #000000;
}


.white {
  color: #fff;
}








.slider {
  position: relative;
  width: 100%;
  height: 61.8vw;
  overflow: hidden;
}

.slides {
  width: 100%;
  height: 61.8vw;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  
}

.arrow {
  position: absolute;
  bottom: 0px;
  border: none;
  background: none;
  cursor: pointer;
}

.prev {
  left: 0px;
}

.next {
  right: 0px;
}

.slidertext{
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  /* margin: 0 !important; */
  line-height: 0 !important;
}