@import url('https://fonts.googleapis.com/css?family=Inter:300,400,700');
@import url("https://use.typekit.net/pzx5ijr.css");

body {
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    line-height: 120%;
    color: black;
    font-weight: 400;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
}

video {
    width: 100%;
    min-height: 100vh;
}

a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

span {
    line-height: inherit;
}

.cursor {
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    position: fixed;
    z-index: 99;
    opacity: 0%;
}


.logo {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 99;
}

.hide {
    display: none;
}

.yt-video-rosh {
    width: 100%;
    height: 100vh;
}

.degular { 
    font-family: degular;
    font-weight: 500;
    font-style: normal;
}

.hero-section {
    height: auto!important;
}

.hero-section.show-project {
    height: 100vh!important;
    background-size: cover;
    position: relative;
    background-position-x: 50%;
    transition-property: all;
    transition-duration: 10ms;
    transition-timing-function: linear;
}

.font-size-primary {
    margin: 0px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
}

.sidebar {
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 40px;
    background-color: black;
    color: white;
    height: 100%;
    z-index: 19;
    display: none;
    overflow: auto;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease;
    
}

.sidebar:hover {
    color: grey);
}

.sidebar-project-image {
    display: none;
    width: 100%;
}

.sidebar-project-link {
    color: #fff;
    margin-bottom: 16px;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease;
}

.footer {
    display: flex;
    padding: 40px;
    column-gap: 80px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-logo {
    padding: 10px;
    flex: 0 0 auto;
    max-width: 150px;
}

.footer-link-wp {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-content-wp {
    display: flex;
    flex-direction: row;
    gap: 40px 40px;
    flex: 1;
    max-width: 60%;
}

.info-menu {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 100px;
    left: 40px;
    z-index: 2;
}

.sprint-menu {
    width: 250px;
    height: 250px;
    background-color: #fd3c2d;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 100%;
    position: absolute;
    bottom: 20vw;
    left: 25vw;
    z-index: 2;
}

.ukraine {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fec415;
    color: white;
    position: absolute;
    bottom: 6vw;
    right: 15vw;
    z-index: 2;
}

.work {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffbfe1;
    border-radius: 100%;
    position: absolute;
    top: 4vw;
    right: 4vw;
    z-index: 2;
}

.section {
    padding: 80px;
    display: flex;
    flex-direction: column;
}

.about-team {
    display: flex;
    flex-wrap: wrap;
    gap: 80px 80px;
    flex-direction: row;
}

.box {
    flex: 0 0 auto;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.gap-40 {
    gap: 40px 40px;
}

.logo {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 99;
}

.project-body {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* was added in new */
    justify-content: center; /* was added in new */
}

body:hover .cursor {opacity: 100%;}
.home-body { cursor:none; }

.review-content {
    display: none;
}

.project-link {
    display: inline;
    color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#color-animation {
  transition-property: background-color;
  transition-duration: 1000ms;
  transition-timing-function: linear;
}

#cta-animation {
  transition-property: background-color;
  transition-duration: 1000ms;
  transition-timing-function: linear;
}

::-webkit-scrollbar {
  width: 4px;
  height:4px;
}

::-webkit-scrollbar-track {
  background: #fff; 
}

::-webkit-scrollbar-thumb {
  background: #999; 
}

::-webkit-scrollbar-thumb:hover {
  background: #000; 
}

/* Brand Sprint Styles */

.brand-sprint-hero {
    padding: 80px;
    min-height: 100vh;
    background-color: rgb(129, 89, 251);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.h1 {
    font-size: 160px;
    font-weight: 500;
    line-height: 80%;
    margin: 0px;
}

.h2 {
    font-size: 75px;
    font-weight: 500;
    line-height: 100%;
    margin: 0px;
}

.brand-sprint-black-section {
    min-height: 100vh;
    background-color: black;
    color: white;
    padding: 80px;
    display: flex;
    flex-direction: row;
    column-gap: 80px;
    align-items: center;
    justify-content: space-between;
}

.brand-sprint-timeline {
    padding: 80px;
    display: flex;
    flex-direction: column;
    row-gap: 120px;
    color: black;
}

.sprint-box {
    flex: 0 0 auto;
    width: 100%;
    max-width: 50%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 40px;
}

.wrapper {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.inactive {
    color: grey;
}

.is-logo {
    color: #8159fb;
}

.is-typo {
    color: #ffbfe1;
}

.is-color-palette {
    color: #fd3c2d;
}

.is-guidelines {
    color: #fdc800;
}

.review-card {
    display: flex;
    flex-direction: column;
    gap: 16px 16px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.get-wp {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.d-margin-40 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
}

.cta {
    width: 30vw;
    height: 30vw;
    border-radius: 100%;
    background-color: rgb(129, 89, 251);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    max-width: 400px;
    max-height: 400px;
}

.is-cta-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
}

.is-left {
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.black-font {
    color: black;
}

.is-review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.page-heading {
    position: sticky;
    top: 24px;
    left: 0px;
}

.is-hero {
    margin-top: -24px;
}



/* Responsive Styles */

@media (max-width: 768px) {

    body { cursor: auto; }
    a {cusror:pointer;}

    .cursor {
        display: auto;
    }

    .hero-section svg {
        position: fixed;
        top: 0;
        width: auto!important;
        height: 100vh!important;
        margin: 0 -92%;
    }

    .menu-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        row-gap: 10px;
        padding-bottom: 10px;
        padding-top: 110px;
        height: 100%;
    }

    .info-menu {
        position: static;
        flex: 0 0 auto;
    }

    .sprint-menu {
        width: 160px;
        height: 160px;
        bottom: 390px;
        left: 20vw;
        position: static;
        flex: 0 0 auto;
    }

    .ukraine {
        width: 180px;
        height: 180px;
        position: static;
        flex: 0 0 auto;
    }

    .work {
        width: 120px;
        height: 120px;
        position: static;
        flex: 0 0 auto;
    }

    .sidebar {
        width: 100%;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 8px;
        text-align: center;
    }

    .sidebar-project-link {
    color: grey;
    }

    .close-menu {
        position: fixed;
        right: 40px;
        bottom: 24px;
        background-image: url('../images/close-menu.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
    }

    .footer {
        flex-direction: column;
        gap: 40px 80px;
    }

    .f-logo {
        max-width: 100px;
    }

    .section {
        padding: 24px;
    }

    .box {
        width: 100%;
    }

    .work {
        width: 120px;
        height: 110px;
        top: 5vw;
    }

    .cursor {
        display: none;
    }

    .info-menu {
        bottom: 120px;
    }

    .footer {
        padding: 24px;
        flex-direction: column; /* added */
        gap: 40px 80px; /* added */
    }

    .footer-content-wp {
        flex-direction: column;
        max-width: 100%;
    }

    .font-size-primary {
        font-size: 32px;
        line-height: 40px;
    }

    /* Brand Sprint */

    .page-heading {
        position: static;
    }
    .row {
        flex-direction: column;
    }

    .sprint-box {
        max-width: 100%;
        row-gap: 0px;
    }

    .wrapper {
        gap: 40px 40px;
    }

    .brand-sprint-hero {
        padding-top: 120px;
        padding-right: 24px;
        padding-bottom: 80px;
        padding-left: 24px;
    }

    .brand-sprint-black-section {
        padding: 24px;
        min-height: 80vh;
    }

    .brand-sprint-timeline {
        padding: 24px;
        row-gap: 80px;
    }

    .h1 {
        font-size: 90px;
    }

    .is-cta-section {
        flex-direction: column;
    }

    .cta {
        width: 320px;
        height: 320px;
    }

    .h2 {
        padding-top: 0px;
        font-size: 40px;
    }

    .brand-sprint-black-section {
        padding-top: 80px;
        padding-right: 24px;
        padding-bottom: 80px;
        padding-left: 24px;
    }

    .brand-sprint-timeline {
        padding-top: 80px;
        padding-right: 24px;
        padding-bottom: 80px;
        padding-left: 24px;
    }

    .logo {
        position: fixed;
        top: 24px;
        left: 24px;
        width: 180px;
    }
}