@import url('./css/?family=ESRebond:400');

@font-face {
  font-family: 'ESRebond';
  src:  url('ESRebondGrotesque-Medium.woff2') format('woff2'),
        url('ESRebondGrotesque-Medium.woff') format('woff'),
		url('ESRebondGrotesque-Medium.eot') format('eot');
}

body {
	font-family: 'ESRebond', sans-serif;
	font-weight: 400;
}

.font-rebond {
	font-family: 'ESRebond', sans-serif;
	font-weight: 400;
}